body {
    background-image: url(/kseniya-lapteva-A4rqd2g-eLo-unsplash.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: white;
    font-family: 'DM Serif Display', serif !important;
}

.otherProjects {
    width: 23rem;
}

#messageText {
    height: 100px;
}